.webgl-content * {border: 0; margin: 0; padding: 0}

.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('progressLogo.Light.png') no-repeat center / contain; width: 289px; height: 86px;}
.webgl-content .progress {height: 40px; width: 300px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.webgl-content .spinnerContainer .spinner {	
	background: url('spinner.png') no-repeat center / contain; 
	width: 64px; 
	height: 64px;
	/-webkit-animation:spin 1s steps(8, end) infinite;
    -moz-animation:spin 1s steps(8, end) infinite;    
	animation:spin 1s steps(8, end) infinite;
	/*-webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;    
	animation:spin 1s linear infinite;*/
}

.webgl-content .spinnerContainer {
	position: absolute;
	top: 50%;
	right: 50%;
	bottom: 50%;
	left: 50%;
	width: 64px; 
	height: 64px;
	-webkit-transform: translate(-50%, -50%); 
	transform: translate(-50%, -50%);
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.webgl-content .logo.Dark {background-image: url('progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('progressFull.Dark.png');}
.webgl-content * {border: 0; margin: 0; padding: 0; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; }